{% extends 'blank_layout.html' %}
{% load static %}

{% block content %}
<div class="header-bottom">
    <div class="wrap">
        <div class="single">
            <div class="heading">
                <h3>Your Orders</h3>
                
            </div>
        </div>
    </div>
</div>
<div class="button-container" style="display:flex; justify-content:center; gap:10px; padding:20px">
    <a href="{% url 'editprofile' %}"><button type="button" style="background-color:#4CAF50; border-radius:5px; color:white; border:none; text-decoration:none; font-size:16px; width:150px; height:70px; cursor:pointer;" onmouseover="this.style.backgroundColor='#45a049'" onmouseout="this.style.backgroundColor='#4CAF50'" onmousedown="this.style.backgroundColor='#3e8e41'; this.style.transform='translateY(2px)'" onmouseup="this.style.backgroundColor='#45a049'; this.style.transform='translateY(0px)'">Edit your profile</button></a>
</div>
{% endblock content %}